@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 600;
	font-style: normal;
}

* , *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 650px;
  width: 100%;

  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-light: var(--vscode-editor-foreground);
  --text-dark: var(--vscode-activityBar-background);
  --text-placeholder: var(--vscode-input-placeholderForeground);

  --background-primary: var(--vscode-activityBar-background);
  --background-secondary: var(--vscode-editor-background);

  --separator: var(--vscode-menu-separatorBackground);

  --error: var(--vscode-editorMarkerNavigationError-background);
}

/* body.vscode-light {
  --text-light: var(--vscode-editor-foreground);
  --text-dark: var(--vscode-activityBar-background);
}

body.vscode-dark {
  --text-light: var(--vscode-editor-foreground);
  --text-dark: var(--vscode-activityBar-background);
}

body.vscode-high-contrast {
  color: red;
} */


#root {
  height: 100%;
  max-width: 100%;
  width: 100%;
}